*{
	margin:0;
	padding: 0;

}

.navbar-nav .navbar-item{

}


#home{
	background: url('img/wallpaper.jpeg') no-repeat;
	background-size: cover;
	height: 90vh;
	position: relative;
}

#home .dark-mode{
	position: absolute;
	height: 80vh;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
}


.dark-mode .display-3{
	font-weight: 600 !important;
	letter-spacing: 3px;
	margin-bottom: 20px;
}

.dark-mode p{
	letter-spacing: 2px;
	font-size: 20px;
}